<%- include("../partials/header", {auth}) -%>

<div class="row justify-content-center container mt-4 mb-3 p-1 mx-auto">
  <div class="col-lg-10 col-md-12 mx-auto shadow-sm">
    <form
      id="recipe-form"
      class="border p-2 rounded bg-white mb-2"
      method="POST"
      action="/recipes/compose"
      enctype="multipart/form-data"
    >
      <h1 class="mb-1 mt-4 text-center">Create Recipe</h1>
      <p class="text-center mb-4">Add a new recipe to the site</p>

      <div class="form-group col-lg-5 col-sm-6 mb-2">
        <label class="font-weight-bold" for="title">Title</label>
        <input
          title="Title as you'd like it to appear on recipe and card header"
          class="form-control"
          type="text"
          name="title"
          id="title"
          required
        />
      </div>

      <div class="form-group col-lg-3 col-sm-4">
        <label class="mt-2 font-weight-bold" for="date">Date</label>
        <input
          title="Date you'd like to appear on recipe"
          class="form-control mb-3"
          type="text"
          name="date"
          id="date"
          required
        />
      </div>

      <div class="form-group col-lg-3 col-sm-4">
        <label class="font-weight-bold" for="submittedBy">Recipe Author</label>
        <input
          title="Creator of recipe to be displayed on card and recipe page"
          class="form-control"
          type="text"
          name="submittedBy"
        />
      </div>

      <div class="form-group col mb-4">
        <div class="form-group w-50 mb-4">
          <label class="font-weight-bold" for="img1"
            >Main Photo <small>5MB limit</small></label
          >
          <small id="remove-img1" onclick="removeImg(this)">remove photo</small>

          <input
            title="Photo to be displayed on card, and the first photo displayed on the recipe's page"
            class="mb-2"
            type="file"
            name="img1"
            id="img1"
            onChange="showRemoveLinkAndPreviewImage(this)"
            required
          />

          <div
            id="img1-preview"
            class="img-preview rounded mb-2 border text-center pt-4 position-relative"
            style="height: 180px; width: 180px"
            title="image preview"
          >
            <i
              style="top: 40%; right: 40%; color: #ccc"
              class="fas fa-image fa-2x position-absolute"
            ></i>
          </div>
        </div>
        <label class="font-weight-bold" for="content1">First Paragraph</label>
        <textarea
          class="form-control mb-4"
          name="content1"
          id="content1"
          rows="5"
          placeholder="Text describing recipe..."
          required
        ></textarea>

        <div class="form-group w-50 mb-4">
          <label class="font-weight-bold" for="img2"
            >Additional Photo <small>5MB limit</small></label
          >
          <small id="remove-img2" onclick="removeImg(this)">remove photo</small>
          <input
            class="mb-2"
            type="file"
            name="img2"
            id="img2"
            onChange="showRemoveLinkAndPreviewImage(this)"
          />
          <div
            id="img2-preview"
            class="img-preview rounded mb-2 border text-center pt-4 position-relative"
            style="height: 180px; width: 180px"
            title="image preview"
          >
            <i
              style="top: 40%; right: 40%; color: #ccc"
              class="fas fa-image fa-2x position-absolute"
            ></i>
          </div>
        </div>

        <label class="font-weight-bold" for="content1">Second Paragraph</label>
        <textarea
          class="form-control mb-4"
          name="content2"
          id="content2"
          rows="5"
          placeholder="Optional text further describing recipe..."
        ></textarea>

        <div class="form-group w-50 mb-4">
          <label class="font-weight-bold" for="img3"
            >Additional Photo <small>5MB limit</small></label
          >
          <small id="remove-img3" onclick="removeImg(this)">remove photo</small>
          <input
            class="mb-2 d-inline-block"
            type="file"
            name="img3"
            id="img3"
            onChange="showRemoveLinkAndPreviewImage(this)"
          />
          <div
            id="img3-preview"
            class="img-preview rounded mb-2 border text-center pt-4 position-relative"
            style="height: 180px; width: 180px"
            title="image preview"
          >
            <i
              style="top: 40%; right: 40%; color: #ccc"
              class="fas fa-image fa-2x position-absolute"
            ></i>
          </div>
        </div>
        <div class="clearfix"></div>
        <label class="font-weight-bold" for="content1">Third Paragraph</label>

        <textarea
          class="form-control mb-4"
          name="content3"
          id="content3"
          rows="5"
          placeholder="Optional text further describing recipe..."
        ></textarea>
      </div>

      <div class="form-group col">
        <label class="font-weight-bold" for="comment">Card Caption</label>
        <textarea
          title="Short description to display on card. Max chars 130."
          class="form-control mb-4"
          name="comment"
          placeholder="Text to display on card"
          rows="3"
          maxlength="130"
          required
        ></textarea>
      </div>

      <div class="form-group col d-flex">
        <button
          class="btn btn-danger btn-block mr-2"
          type="submit"
          name="button"
        >
          Publish
        </button>
        <button
          id="clear-recipe-btn"
          class="btn btn-light border"
          onClick="clearForm()"
        >
          Clear
        </button>
      </div>
    </form>
  </div>
</div>

<script>
  const clearForm = () => {
    const recipeForm = document.getElementById("recipe-form");

    // Clear image previews if clearing form
    const fileInputs = document.querySelectorAll("input[type=file]");

    Array.from(fileInputs).forEach((el) => {
      removeImagePreview(el);
    });

    recipeForm.reset();
  };

  const showRemoveLinkAndPreviewImage = (el) => {
    el.previousElementSibling.style.display = "inline";
    showPreviewImage(el);
  };

  const showPreviewImage = (el) => {
    let reader = new FileReader();

    reader.readAsDataURL(el.files[0]);
    reader.onload = (e) => {
      const imgPreview = document.getElementById(`${el.id}-preview`);
      imgPreview.style.background = `url(${e.target.result})`;
      imgPreview.style.backgroundSize = "cover";
      imgPreview.firstElementChild.style.display = "none";
    };
  };

  const removeImg = (el) => {
    const fileInput = el.nextElementSibling;

    fileInput.value = "";
    fileInput.previousElementSibling.style.display = "none";
    removeImagePreview(fileInput);
  };

  const removeImagePreview = (el) => {
    const imgPreview = document.getElementById(`${el.id}-preview`);
    imgPreview.style.background = "";
    imgPreview.firstElementChild.style.display = "block";
  };
</script>
