<%- include("../partials/header", {auth}) -%>

<div class="row justify-content-center container mt-4 mb-4 p-1 mx-auto">
  <div class="col-lg-10 col-md-12 mx-auto shadow-sm">
    <form
      id="news-form"
      class="border p-3 rounded bg-white mx-auto mb-2"
      method="POST"
      action="/compose/news"
      enctype="multipart/form-data"
    >
      <h1 class="mb-1 mt-4 text-center">Create News Post</h1>
      <p class="text-center mb-4">
        Form laid out in order content will appear on page
      </p>

      <div class="form-group col-lg-3 col-sm-4">
        <label class="mt-2 font-weight-bold" for="date">Date</label>
        <input
          title="Date you'd like to appear on recipe"
          class="form-control mb-3"
          type="text"
          name="date"
          id="date"
          required
        />
      </div>

      <div class="form-group col-lg-8 col-sm-6 mb-4">
        <label class="font-weight-bold" for="title">Title</label>
        <input
          title="Title as you'd like it to appear on recipe header and card"
          class="form-control"
          type="text"
          name="title"
          id="title"
          required
        />
      </div>

      <div class="form-group col mb-4">
        <label class="font-weight-bold" for="content1">First Paragraph</label>
        <textarea
          class="form-control mb-4"
          name="content1"
          id="content1"
          rows="5"
          placeholder="First paragraph of post..."
          required
        ></textarea>

        <div class="form-group w-50 mb-4">
          <label class="font-weight-bold" for="img1"
            >Main Photo <small>5MB limit</small></label
          >
          <small id="remove-img1" onclick="removeImg(this)">remove photo</small>
          <input
            class="file-input"
            title="Photo to be displayed on card, and the first photo displayed on the post's page"
            type="file"
            name="img1"
            id="img1"
            onChange="showRemove(this.id)"
            required
          />
        </div>

        <label class="font-weight-bold" for="content2">Second Paragraph</label>
        <textarea
          class="form-control mb-4"
          name="content2"
          id="content2"
          rows="5"
          placeholder="Optional text further describing post..."
        ></textarea>

        <div class="form-group w-50 mb-4">
          <label class="font-weight-bold" for="img2"
            >Additional Photo <small>5MB limit</small></label
          >
          <small id="remove-img2" onclick="removeImg(this)">remove photo</small>
          <input
            class="file-input"
            id="img2"
            type="file"
            name="img2"
            onChange="showRemove(this.id)"
          />
        </div>

        <label class="font-weight-bold" for="content3">Third Paragraph</label>
        <textarea
          class="form-control mb-4"
          name="content3"
          id="content3"
          rows="5"
          placeholder="Optional text further describing post..."
        ></textarea>
      </div>

      <div class="form-group col">
        <label class="font-weight-bold" for="comment">Card Comment</label>
        <textarea
          title="Short description of post to display on card. Max chars 130."
          class="form-control mb-4"
          name="comment"
          id="comment"
          placeholder="Text to display on card"
          rows="3"
          maxlength="130"
          required
        ></textarea>
      </div>

      <div class="form-group col d-flex">
        <button
          class="btn btn-danger btn-block mr-3"
          type="submit"
          name="button"
        >
          Publish
        </button>
        <button id="clear-newsForm-btn" class="btn btn-light">Clear</button>
      </div>
    </form>
  </div>
</div>

<script>
  const clearBtn = document.getElementById("clear-newsForm-btn");

  clearBtn.addEventListener("click", () => {
    const newsForm = document.getElementById("news-form");
    newsForm.reset();
  });

  const fileInputs = document.querySelectorAll(".file-input");

  const showRemove = (id) => {
    if (id === "img1") {
      document.getElementById("remove-img1").style.display = "inline";
    } else if (id === "img2") {
      document.getElementById("remove-img2").style.display = "inline";
    }
  };

  const removeImg = (el) => {
    console.log(el.nextElementSibling);
    const input = el.nextElementSibling;
    input.value = "";
    input.previousElementSibling.style.display = "none";
  };
</script>
