<%- include("../partials/header") -%>

<div class="row justify-content-center container mt-4 mb-4 p-1 mx-auto">
  <% recipes.forEach(recipe => { %>
  <div>
    <p><%= recipe.date %></p>
    <h3><%= recipe.title%></h3>
  </div>
  <% }) %>
</div>
