<%- include("../partials/header") -%>

<div class="row justify-content-center container mt-4 mb-4 p-1 mx-auto">
  <% posts.forEach(post => { %>
  <div>post.date %></p>
    <h3><%= post.title%></h3>
  </div>
  <% }) %>
</div>
