<%- include("../partials/header", {auth}) -%>

<div class="login-form-container container mx-auto w-75 d-flex flex-column p-4">
  <!-- Login Form -->
  <form class="login-form border rounded p-4" action="/admin" method="POST">
    <div class="form-group">
      <input
        class="form-control text-dark"
        type="text"
        placeholder="Username"
        name="username"
      />
    </div>

    <div class="form-group">
      <input
        class="form-control text-dark"
        type="password"
        name="password"
        placeholder="Password"
      />
    </div>

    <button type="submit" class="btn btn-block btn-danger mt-3">Log in</button>
  </form>
</div>
