<!-- TODO://Add google analytics -->

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-168350656-1"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-168350656-1");
    </script>

    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta name="theme-color" content="#ffffff" />
    <meta charset="utf-8" />
    <meta
      name="description"
      content="Home of Pearson Arson Sauce. The hot sauce
    that sets your mouth on fire, on purpose."
    />
    <meta name="thumbnail" content="/img/dragoncolor.png" />
    <script
      src="https://kit.fontawesome.com/ff7801964a.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>

    <!-- favicons -->
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/favicon/favicon-32x32.png"
    />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="icon" href="/favicon/favicon.ico" />

    <link rel="manifest" href="/site.webmanifest" />

    <link
      href="https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Special+Elite&family=Oswald&family=Rock+Salt&family=Roboto&family=Roboto+Condensed:wght@300&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="/css/style.css" />
    <title>Arson Sauce | Hot Sauce</title>
  </head>
  <body>
    <div class="nav-header">
      <a href="/">
        <img class="banner" src="/img/dragoncolor.png" alt="" />
      </a>

      <p class="nav-header__p">
        Because you can't spell <span class="pearson">Pearson</span> without
        <span class="arson">arson</span>
      </p>

      <nav class="navbar navbar-expand-lg top-nav">
        <div class="container">
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#top-nav"
          >
            <span class="navbar-toggler-icon"
              ><i class="fas fa-bars" style="color: white;"></i
            ></span>
          </button>
          <div class="collapse navbar-collapse" id="top-nav">
            <ul class="navbar-nav mx-auto">
              <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
              <li class="nav-item">
                <a class="nav-link" href="/story"> Story</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/news">News</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/recipes">Recipes</a>
              </li>
              <li class="nav-item">
                <a class="nav-link contact" href="/#contact">Contact</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </body>
</html>
