<%- include("../partials/header") -%>

<div class="container msg-sent mt-4">
  <div class="container mt-4">
    <h2 class="text-center">
      <i class="fas fa-bomb fa-2x mr-2"></i>Uh-oh, something went wrong! Please
      resend your message.
    </h2>
  </div>
</div>
