<%- include("partials/header") -%>

<div class="row justify-content-center container mt-4 mb-4 p-4 mx-auto">
  <h3 class="mb-4 text-center">Which type of post would you like to create?</h3>
  <div class="col-lg-8 col-md-12 mx-auto shadow-sm">
    <form
      class="login-form border rounded p-4"
      action="/post-type"
      method="POST"
    >
      <div class="form-group">
        <button value="news" class="btn btn-danger btn-block mb-3">
          News
        </button>
        <a
          href="/compose/recipe"
          class="btn btn-danger btn-block"
          type="submit"
        >
          Recipe
        </a>
      </div>
    </form>
  </div>
</div>
