<%- include("partials/header") -%>

<div class="container w-50 mt-4 mb-4 pb-2 border rounded">
  <form class="w-75 mx-auto" method="POST" action="/compose">
    <h1 class="mb-4 mt-4 text-center">Create Post</h1>
    <div class="form-group">
      <label for="title">Title</label>
      <input class="form-control" type="text" name="title" required />
      <label class="mt-2" for="date">Date</label>
      <input class="form-control w-25" type="text" name="date" required />
    </div>
    <div class="form-group">
      <label>Content</label>
      <textarea
        class="form-control"
        name="content"
        id=""
        rows="6"
        required
      ></textarea>
    </div>
    <div class="form-group">
      <label for="submittedBy">Submitted By</label>
      <input class="form-control w-25" type="text" name="submittedBy" />
    </div>
    <div class="form-group">
      <input type="checkbox" name="check" value="recipe" />
      <label class="mr-4" for="recipe-check">Recipe</label>

      <input type="checkbox" name="check" value="news" />
      <label for="news-check">News</label>
    </div>
    <button class="btn btn-danger pb-2" type="submit" name="button">
      Publish
    </button>
  </form>
</div>
