<%- include("partials/header") -%>

<div
  class="row justify-content-center container mt-4 mb-4 p-4 shadow-sm mx-auto"
>
  <div class="col-lg-8 col-sm-12 mx-auto">
    <form
      class="border p-4 rounded"
      method="POST"
      action="/compose"
      enctype="multipart/form-data"
    >
      <h1 class="mb-4 mt-4 text-center">Create Post</h1>
      <div class="form-group col-lg-3 col-sm-4">
        <label class="mt-2" for="date">Date</label>
        <input class="form-control mb-3" type="text" name="date" required />
      </div>
      <div class="form-group col-lg-8 col-sm-6">
        <label for="title">Title</label>
        <input class="form-control" type="text" name="title" required />
      </div>
      <div class="form-group col">
        <label>Content</label>
        <textarea
          class="form-control"
          name="content"
          id=""
          rows="7"
          required
        ></textarea>
      </div>
      <div class="form-group col-lg-4 col-sm-6">
        <label for="submittedBy">Submitted By</label>
        <input class="form-control" type="text" name="submittedBy" />
      </div>
      <div class="form-group col-6">
        <input type="file" name="imgFile" required />
      </div>
      <div class="form-group col">
        <label class="d-block" for="recipe-check">
          <input
            type="radio"
            name="postType"
            value="recipe"
            required="required"
          />
          Recipe
        </label>

        <label class="d-block" for="news-check"
          ><input type="radio" name="postType" value="news" />
          News
        </label>
      </div>

      <button class="btn btn-danger mb-3 btn-block" type="submit" name="button">
        Publish
      </button>
    </form>
  </div>
</div>
