<%- include("partials/header") -%>
<div class="header-div">
  <div class="header-filter"></div>

  <img class="bottle" id="bottle" src="img/table2.png" alt="" />

  <!-- <img class="header-title" src="img/redlogo.png" alt="" /> -->
</div>

<div class="story-container">
  <!-- <svg class="splat" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
    <path
      fill="#dfd9c8"
      d="M68,-54.4C83.8,-34.3,89.5,-6.3,83.2,18C76.9,42.4,58.6,63,36.1,73.1C13.6,83.2,-13,82.8,-35.1,72.4C-57.3,61.9,-74.9,41.5,-81,17.7C-87,-6.1,-81.5,-33.4,-66.1,-53.3C-50.7,-73.3,-25.3,-86,0.4,-86.2C26,-86.5,52.1,-74.4,68,-54.4Z"
      transform="translate(100 100)"
    />
  </svg> -->

  <img class="chili" src="img/chili.svg" alt="" />

  <h1 class="hidden-story-title">Our Story</h1>

  <div class="container story-text">
    <h1 class="story-title">Our Story</h1>

    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates
      ratione corporis in, aspernatur harum itaque dolorum nostrum quod culm ad
      blanditiis corporis in..
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Soluta corrupti
      distinctio, veniam optio, deserunt harum itaque vitae
      dolorum nostrum quod, eum impedit
      veniam optio!
    </p>
    <a class="story-btn mt-4" type="button" href="/story"
      >Read more</a
    >
  </div>

  <img class="plants-img" src="img/plants.jpg" alt="" />
  
  </div>
</div>

<div class="news-container">
  <!-- <div class="custom-shape-divider-top-1592265075">
    <svg
      data-name="Layer 1"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 1200 120"
      preserveAspectRatio="none"
    >
      <path
        d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
        class="shape-fill"
      ></path>
    </svg>
  </div> -->
  <h1 class="news-title">What's Cookin'</h1>

  <div class="news-card-container container">
    <!----------- Card ----------------->
    <div class="card border-0">
      <div class="card-body d-flex flex-row">
        <!-- Avatar change-->
        <img
          src="img/cutlery.png"
          class="rounded-circle mr-3"
          height="50px"
          width="50px"
          alt="cutlery"
        />

        <!-- Header -->
        <div>
          <small class="card-category">Recipe</small>
          <h4 class="card-title font-weight-bold mb-2">
            Spiced Up Eggs
          </h4>
          
          <p class="card-text"><i class="far fa-clock pr-2"></i>05/2020</p>
        </div>
      </div>

      <!-- image -->
      <div class="card-img-container">
        <img class="card-img-top rounded-0" src="img/eggs.jpg" alt="eggs" />
      </div>

      <!-- Card content -->
      <div class="card-body">
        <!-- Text -->
        <p class="card-text card-content">
          "Eggs over easy with bacon and..."
        </p>
</div>
        <div class="card-footer border-0">
        <!-- <small class="text-muted card-text"> Alan Gilbert</small> -->

        <i
          class="fas fa-thumbs-up float-right p-1 mt-1"
          data-placement="top"
          title="Like"
        ></i>
        <p class="copy-msg">Link Copied!</p>
        <i
          class="copy-link fas fa-link float-right p-1 mt-1 mr-1"
          data-placement="top"
          title="Copy Link"
        ></i>
      </div>
      
      
    </div>

    <!----------- Card ----------------->

    <div class="card border-0">
      <div class="card-body d-flex flex-row">
        <!-- Avatar change-->
        <img
          src="img/beaker.png"
          class="rounded-circle mr-3"
          height="50px"
          width="50px"
          alt="grill"
        />

        <!-- Header -->
        <div>
          <small class="card-category">Process</small>
          <h4 class="card-title font-weight-bold mb-2">
            Fermentation
          </h4>
          <p class="card-text card-content"><i class="far fa-clock pr-2"></i>05/2020</p>
        </div>
      </div>

      <!-- image -->
      <div class="card-img-container">
        <img class="card-img-top rounded-0" src="img/ferment.jpg" alt="grill" />
      </div>

      <!-- Card content -->
      <div class="card-body">
        <!-- Text -->
        <p class="card-text card-content">
          Lorem ipsum dolor sit amet ipsum...
        </p>
      </div>
      <div class="card-footer border-0">

        <i
          class="fas fa-thumbs-up float-right p-1 mt-1"
          data-placement="top"
          title="Like"
        ></i>
        <p class="copy-msg">Link Copied!</p>
        <i
          class="copy-link fas fa-link float-right p-1 mt-1 mr-1"
          data-placement="top"
          title="Copy Link"
        ></i>
      </div>
    </div>

    <!-----------Card ------------->

    <div class="card border-0">
      <div class="card-body d-flex flex-row">
        <!-- Avatar change-->
        <img
          src="img/cutlery.png"
          class="rounded-circle mr-3"
          height="50px"
          width="50px"
          alt="grill"
        />

        <!-- Header -->
        <div>
          <small class="card-category">Recipe</small>
          <h4 class="card-title font-weight-bold mb-2">
            Arson Coleslaw
          </h4>
          <p class="card-text"><i class="far fa-clock pr-2"></i>06/2020</p>
        </div>
      </div>

      <!-- image -->
      <div class="card-img-container">
        <img
          class="card-img-top rounded-0"
          src="img/coleslaw.jpg"
          alt="grill"
        />
      </div>

      <!-- Card content -->
      <div class="card-body">
        <!-- Text -->
        <p class="card-text card-content">
          " I put it on... pretty much everything..."
        </p>
      </div>
      <div class="card-footer border-0">
        <!-- <small class="text-muted card-text">Andy Schoepf</small> -->
        <i
          class="fas fa-thumbs-up float-right p-1 mt-1"
          data-placement="top"
          title="Like"
        ></i>
        <p class="copy-msg">Link Copied!</p>
        <i
          class="copy-link fas fa-link float-right p-1 mt-1 mr-1"
          data-placement="top"
          title="Copy Link"
        ></i>
      </div>
    </div>

</div>

<%- include("partials/footer") -%>


<script>
  // Change to wider picture on small screens
  const bottle = document.getElementById("bottle");
  const width = window.matchMedia("(max-width: 600px)");
  if(width.matches){
    
    bottle.setAttribute("src", "img/tablemobile.png");
  }
  else {
    bottle.setAttribute("src", "img/table.png");
  }
</script>
