<%- include("partials/header") -%>

<div class="container msg-sent">
  <div class="card-body">
    <h2>
      <i class="fas fa-bomb fa-2x mr-2"></i>Uh-oh, something went wrong! Please
      resend your message.
    </h2>
  </div>
</div>
