<%- include("partials/header") -%>

<div class="container msg-sent">
  <div class="card-body">
    <h2>
      <i class="far fa-paper-plane fa-2x mr-3"></i> Success! Your message has
      been sent.
    </h2>
  </div>
</div>
