<%- include("partials/header") -%>

<div class="pricing-container">
  <iframe
    class="pricing-pdf"
    src=http://docs.google.com/gview?url=<%= url %>&embedded=true
    frameborder="0"
  ></iframe>
</div>
