<%- include("partials/header") -%>

<div class="pricing-container">
  <!-- <iframe src="http://docs.google.com/gview?url=https://arsonsauce.com/public/pdf/pricing.pdf&embedded=true" style="width:600px; height:500px;" frameborder="0"></iframe> -->
  <object
    class="pricing-pdf"
    data="/pdf/pricing.pdf#toolbar=0&zoom=110"
    type="application/pdf"
  >
    <iframe
      class="pricing-pdf"
      src="/pdf/pricing.pdf#toolbar=0"
      type="application/pdf"
    ></iframe>
  </object>
</div>
