<%- include("partials/header") -%>

<div class="pricing-container">

  <div class="container mx-auto text-center p-2"><a href="/#contact" class="text-danger">Click here to place an order via email.</a></div>
  <div id="loading-message" class="text-center">Loading...</div>
 <iframe
    class="pricing-pdf"
    src=http://docs.google.com/gview?url=<%= url %>&embedded=true
    title="Arson Sauce Pricing"
    frameborder="0"
    allowfullscreen=true
    onload=frameLoaded()
  ></iframe>
  
</div>

<script>
  const loadingMessage = document.getElementById("loading-message");

  const frameLoaded = () => {
loadingMessage.style.display = "none";
  }
</script>
