<%- include("partials/header") -%>
<div class="wrapper">
  <div class="story-page-container">
    

    <div class="container story-page-text">
     
      <h1 class="container story-page-title">The Story</h1>
      <article class="container mt-4 story-page-paragraph-container">
        <h2>How We Got Our Name</h2>
        <p>
          When Eric Pearson gave a sample of his spicy red “Pearson Hot Sauce” to a friend, he suggested that the name on the label needed a kick to match the scorching deliciousness inside the bottle. So, during a series of conversations on the subject, a family member (probably Eric’s clever wife) recalled an offhanded remark made by one of their sons’ friends during their high school days, that was ironically fitting.
        </p>
        <p>
          Eric and his sons were well known for their epic bonfires in the fall. These fires were so big and so hot that some say the marshmallows INSIDE THE HOUSE came out of the package already roasted! One time the folks from a neighboring farm called the fire department because they saw the glow on the horizon and thought someone’s house was ablaze. The firemen who responded to the call were so impressed that they got out their cell phones and started taking pictures. Even in the dead of an Iowa winter, if the Pearson boys were building a fire, you showed up in shorts and a t-shirt because it was gonna be HOT! After witnessing one of these epic fires, a friend of one of the Pearson boys quipped “Well, ya can’t spell Pearson without ‘arson!’” And a hot sauce name was born.
        </p>

        <div class="fire-video-container">
          <iframe id="fire-video" width="350" height="235" src="https://www.youtube.com/embed/cJyw3Yuk18A?enablejsapi=1&start=270" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

        <h2>The Rest of the Story</h2>
        <p>
        While he would never set your house on fire, Eric’s hot sauce might just set your mouth on fire – because you can’t spell Pearson without ARSON!
        </p>
        <p>
          Eric’s parents were gardeners, mostly growing tomatoes that they combined with onions and jalapeño peppers in their own home-canned salsa that they used to make their famous Huevos Rancheros. So, he was used to eating “hot stuff” even as a kid.
        </p>
        <p>
          “I don’t have a super-hot palette, but I like the flavor. I like a little bit of heat as long as it’s not TOO hot,” Eric says.
        </p>
        <p>
          When he had a place of his own, naturally he planted a garden, and following in mom’s and dad’s footsteps, he grew tomatoes and made salsa for Huevos Rancheros as well. 
        </p>
        <p>
          “I like growing my own vegetables and canning my own food, but I had never really thought about making my own hot sauce until I came across a website in 2016 that showed how you could cut up peppers and ferment them and make your own. So, I tried it and I really liked it,” he says. “There are a variety of ways to do it and fermenting is one of them. The biggest advantage of that is that it’s supposed to be good for your gut. It’s a healthy way of storing and preserving food.”
        </p>
        <p>
          But with so many varieties of hot sauce on the market, why would you bother to make your own?? Eric says it’s all about the flavor and variety of peppers. Most of the hot sauces he had tried were heavy on the vinegar and heat, but lacked in flavor.
        </p>
        <p>
          “In 2017 I got some Red Savina Habanero peppers. They’re a ‘good hot’ but not a shocking hot that burns your mouth and makes you regret it. It’s a ‘building heat.’ The first couple of bites might not seem so hot but then after you have the rest of the meal it kind of builds on you. I also got some Chocolate Habanero peppers that same year. Now I add more variety to my sauce if I can, because I think the variety of the peppers blended together make a better sauce over all.”
        </p>
        <p>
          While Eric does use vinegar in his sauce - so it doesn’t have to be refrigerated - he doesn’t want the vinegar flavor to be overpowering. He’s come up with what he believes is a unique process to keep that from happening. After he ferments the peppers, he squeezes out all the juice, leaving a mash of seeds and skins. He soaks the mash in vinegar at the end of one season and the next season, takes THAT vinegar, and strains the mash out of it, resulting in a spiced vinegar that he adds to the current season’s batch of hot sauce.
        </p>
        <p>
          Every year brings a new adventure in Arson Sauce, depending on what kinds of pepper plants are available at planting time, what grows and what doesn’t, and what other ingredients Eric decides to add to the mix – onions, garlic, vinegar, sea salt, and sometimes tomatoes. He tries to use fresh ingredients and sticks to using peppers that he personally enjoys. Occasionally he’ll throw in some dried peppers for extra flavor. 
        </p>
        <p>
          “I realize it could be a disadvantage for it to be different every year but I’m making small batches out of my home. With most store-bought hot sauces, it’s pretty much the same all the time. But with what I’m doing, the types of peppers may vary, the heat of them may vary, and the ratio may vary for me. It’s really more like a wine where the basic flavor is the same, but every year it’s a little bit different and has a little bit of a different character.”
        </p>
         <a href="mailto:arsonsauce@gmail.com" class="story-email-link"
          ><small>arsonsauce@gmail.com</small>
        </a>
    
      </article>
     
    </div>
  </div>
</div>

<script>

// YouTube Player API
var tag = document.createElement("script");

tag.src = "https://www.youtube.com/iframe_api";
var firstScriptTag = document.getElementsByTagName("script")[0];
firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

var player;
function onYouTubeIframeAPIReady() {
  var player;
  player = new YT.Player("fire-video", {
    events: {
      onStateChange: onPlayerStateChange
    }
  });
}

// Play video on state change and set volume low
function onPlayerStateChange(event) {
  switch (event.data) {
    case 0:
      event.target.playVideo();
      break;
    default:
      event.target.setVolume(2);
  }
}

</script>
</body>
</html>
