<%- include("partials/header") -%>
<div class="wrapper">
  <div class="story-page-container">
    <!-- <h1 class="hidden-story-title">Our Story</h1> -->

    <div class="container story-page-text">
      <h1 class="container story-page-title">Our Story</h1>

      <p>
        Bacon ipsum dolor amet andouille chislic cow fatback strip steak chuck
        kielbasa, kevin porchetta shankle tri-tip jowl. Turkey swine meatball
        sirloin beef ribs drumstick bacon, leberkas tail turducken pork chop
        pancetta alcatra. Short ribs burgdoggen chislic pancetta pastrami. Ball
        tip tail pork belly, frankfurter beef ribs cupim kevin ground round
        filet mignon buffalo salami. Landjaeger drumstick pancetta sirloin
        hamburger kielbasa chicken alcatra. Drumstick rump short loin spare ribs
        ham hock. Filet mignon ham hock ribeye bacon short loin landjaeger.
      </p>
      <p>
        Drumstick chislic tongue meatball, strip steak kielbasa ribeye
        tenderloin andouille. Frankfurter pork chop prosciutto short ribs.
        Ground round shank porchetta ham picanha salami. Kielbasa t-bone tongue
        pork loin jowl meatloaf tri-tip cupim corned beef hamburger chicken
        drumstick. Pork chop tongue andouille, sirloin pork loin ground round
        corned beef pork pastrami porchetta.
      </p>
      <p>
        Frankfurter t-bone swine alcatra tenderloin short ribs biltong shankle
        kevin sausage shank jowl. Sausage tenderloin bacon kevin fatback
        capicola pork jowl short loin shoulder spare ribs brisket andouille pork
        chop. Turducken shoulder jerky capicola tail, drumstick pork belly
        andouille. Buffalo kevin tri-tip alcatra ground round short loin ribeye.
      </p>

      <div>
        <small class="text-muted">arsonsauce@gmail.com</small>
      </div>
    </div>
    <img class="plants-img story-img" src="img/plants.jpg" alt="" />
  </div>
</div>
