* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  background: #000;
  overflow-x: hidden;
}

.wrapper {
  width: 100vw;
  background: #e6e4e0;
  font-family: "Oswald", sans-serif;
  z-index: -10;
}

.banner {
  width: 13rem;
  height: 11rem;

  padding: 0.9rem 0;
  filter: saturate(120%);
}

.nav-header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  background-color: #e6e4e0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='Artboard-5' fill='%23454545' fill-opacity='0.03' fill-rule='nonzero'%3E%3Cpath d='M6 18h12V6H6v12zM4 4h16v16H4V4z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  position: relative;
  width: 100vw;
  border-top: 10px solid rgba(39, 39, 39, 0.973);
}

.nav-header__p {
  color: #272727;

  padding-bottom: 0.5rem;
  font-size: 1.22rem;
  word-spacing: 0.1rem;
  font-family: "Oswald", sans-serif;
}

.pearson,
.arson {
  color: #b3171d;
  font-family: "Rock Salt";
  letter-spacing: 0.2rem;
  font-weight: bold;
  font-size: 1rem;
  text-shadow: 0 1px 1px rgba(20, 20, 18, 0.39);
}

.nav,
.navbar {
  padding: 1rem;
  text-transform: uppercase;
  width: 100%;
}

.top-nav {
  background: #272727;

  box-shadow: 0 2px 8px rgba(27, 27, 27, 0.3);
  /* display: inline-flex;
  justify-content: center; */
}

.top-nav a {
  font-size: 1.1rem;
  margin-right: 3rem;
}

.nav-link {
  color: #e6e4e0;
  text-decoration: none;
  font-family: "Oswald", sans-serif;
  letter-spacing: 0.04rem;
}

.nav-link:hover {
  color: #da7871;
}

.bottle {
  height: 48rem;
  display: block;

  z-index: 4;
  width: 100%;

  /* animation: imageLoad 3s linear; */
}

.header-div {
  padding: 10rem 0 0;
  z-index: -2;
  background: url("https://images.unsplash.com/photo-1517196084897-498e0abd7c2d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80");
  background-size: cover;
  background-position: 80% 70%;

  height: 100%;
  position: relative;
}

.header-filter {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  backdrop-filter: saturate(110%) blur(4px);
  background-color: rgba(7, 7, 7, 0.138);
}

.header-title {
  position: absolute;
  top: 3rem;
  height: 20rem;
  left: 28%;
  animation: arsonLogoLoad 4s forwards;
}

.story-container {
  /* border-bottom: 5px dashed #272727; */

  position: relative;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: minmax(100px, auto);

  color: #e6e4e0;
  background: linear-gradient(
      to bottom,
      rgba(36, 36, 36, 0.9),
      rgba(36, 36, 36, 0.9)
    ),
    url("img/flameFinal.jpg");

  background-size: cover;
  background-position: 80% 70%;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: inset 0 18px 15px -20px rgba(0, 0, 0, 0.8);

  padding: 9rem 0 10rem;
  height: auto;
}

.chili {
  position: absolute;
  z-index: 1;
  top: 17rem;
  left: 57rem;
  opacity: 0.8;
  height: 10rem;
}

.hidden-story-title {
  display: none;
  color: #faf8f0f3;
}

.story-title {
  z-index: 5;
  padding: 1rem 0 4rem;
  font-family: "Rock Salt", cursive;
  font-size: 3.9rem;
  letter-spacing: 0.25rem;
  /* align-self: start; */
  color: #faf8f0f3;
  /* text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.5),
    0px -4px 6px rgba(255, 255, 255, 0.3); */
}

.story-text {
  z-index: 5;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
  font-family: "Roboto Condensed", sans-serif;
  line-height: 2rem;
  letter-spacing: 0.07rem;
  font-size: 1.35rem;
  padding: 2rem;
}

.story-btn {
  background: transparent;
  color: #d84430f8;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.35rem;
}

.story-btn:hover {
  text-decoration: none;
  color: #be3624;
}

.plants-img {
  z-index: 5;
  max-height: 390px;
  border-radius: 10%;

  box-shadow: 0 3.4px 2.8px rgba(0, 0, 0, 0.02),
    0 8.2px 6.7px rgba(0, 0, 0, 0.028), 0 15.5px 12.5px rgba(0, 0, 0, 0.035),
    0 27.7px 22.3px rgba(0, 0, 0, 0.042), 0 51.8px 41.8px rgba(0, 0, 0, 0.05),
    0 124px 100px rgba(0, 0, 0, 0.07);

  margin-left: 4rem;
  margin-top: 4rem;
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 1;
}

/* ---------SVG Divider----------- */
.custom-shape-divider-bottom-1592405130 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1592405130 svg {
  position: relative;
  display: block;
  width: calc(300% + 1.3px);
  height: 86px;
}

.custom-shape-divider-bottom-1592405130 .shape-fill {
  fill: #edeae2;
}

.news-container {
  margin-top: -0.2rem;
  z-index: 5;
  color: #312420;
  background-color: #edeae2;
  background-image: linear-gradient(
    to bottom,
    #edeae2,
    #efece1,
    #f2eee1,
    #f4f0e0,
    #f6f2e0
  );

  padding: 2.5rem 3rem 2.9rem;

  position: relative;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 3rem;
}

.news-title {
  font-family: "Oswald", sans-serif;
  font-size: 4.4rem;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.4rem;

  padding: 2rem 0 1rem;
  /* text-shadow: 2px 7px 4px rgba(0, 0, 0, 0.5),
    0px -4px 6px rgba(255, 255, 255, 0.3); */
}

.news-card-container {
  height: auto;
  margin: 0 auto;
  padding-bottom: 4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}

.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.028);
  backface-visibility: hidden;

  /* Add height to cards in recipe section, then you can put text underneath them */
  /* height: 250px; */
}

.card:hover {
  transform: translateY(-2.5px);
  cursor: pointer;
}

.card-category {
  color: #da4733;
  font-weight: bold;
  font-family: "Oswald", sans-serif;
}

.card-title {
  color: #131212;
  font-size: 1.4rem;
  font-family: "Oswald", sans-serif;
  text-shadow: 0 1px 2px rgba(179, 177, 177, 0.2);
}

.card-img-top {
  width: 100%;
  height: 200px;
  filter: contrast(110%) saturate(120%);
}

.card-text {
  color: #272727;
  font-family: "Roboto Condensed", sans-serif;
}

.fa-link,
.fa-thumbs-up {
  color: #fff;
}

.fa-link:hover,
.fa-thumbs-up:hover {
  color: #ccc;
}
.fa-link:active,
.fa-thumbs-up:active {
  color: #6c757d;
}

.copy-msg {
  display: none;
  position: absolute;
  bottom: 2rem;
  right: 0;
  color: #fff;
  background: #be3624;
  opacity: 0.9;
  border-radius: 1px;
  padding: 0.4rem;
  font-size: 1.2rem;
  opacity: 0.7;
}

footer {
  background-color: #1c1c1c;

  width: 100vw;
  padding: 4rem 1rem;
}

.footer-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.footer-nav {
  width: 25%;

  display: flex;
  flex-direction: column;
}

.form-text {
  color: #faf8f0;
  margin: 0 auto 2rem;
  text-align: center;
  width: 80%;
  font-family: "Rock Salt", cursive;
  font-size: 1.4rem;
  font-weight: bold;
  z-index: 5;
  letter-spacing: 0.2rem;
  line-height: 1.5;
}

.emailBtn {
  background: #be3624;
  color: #fff;
}

.emailBtn:hover {
  background: #992d1e;
  color: #fff;
}

.clicked {
  color: #fff;
  text-align: center;
  animation: spin 2s 0.25s linear infinite;
  margin-left: 50%;
  outline: none;
  outline: 0;
}

.msg-sent {
  padding: 6rem;
}

/* -------Animations------- */

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes imageLoad {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* ----------Recipe Page---------- */
.recipe-page-container {
  background-image: linear-gradient(
    to bottom,
    #edeae2,
    #ede9de,
    #ede9da,
    #ede8d7,
    #ede8d3,
    #eee9d4,
    #efead4,
    #f0ebd5,
    #f2edda,
    #f3efdf,
    #f5f1e5,
    #f6f3ea
  );
}

.recipe-page-title {
  text-align: center;
  padding: 3.9rem 0;
  font-family: "Oswald", sans-serif;
  font-size: 3.8rem;
  font-weight: bold;
  letter-spacing: 0.25rem;
  color: #312420;

  /* text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5),
    0px -4px 6px rgba(255, 255, 255, 0.3); */
}

.recipe-page-card-container {
  height: auto;

  padding-bottom: 2rem;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 1rem;
}

.recipe-page-card-container .card {
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.028), 0 7px 8px rgba(0, 0, 0, 0.04),
    0 14px 12px rgba(0, 0, 0, 0.05);
}

.recipe-page-card-image {
  filter: contrast(110%) saturate(120%);
}

/* ------------Story Page--------------- */

.story-page-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: minmax(100px, auto);

  color: #e6e4e0;
  background: linear-gradient(
      to bottom,
      rgba(36, 36, 36, 0.9),
      rgba(36, 36, 36, 0.9)
    ),
    url("img/flameFinal.jpg");

  background-position: 80% 70%;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: inset 0 18px 15px -20px rgba(0, 0, 0, 0.8);

  padding: 9rem 5rem;
  height: auto;
}

.story-page-title {
  padding: 0 0 6rem;
  font-family: "Rock Salt", cursive;
  font-size: 4.1rem;
  letter-spacing: 0.25rem;
  /* align-self: start; */
  color: #e6e4e0;
}

.story-page-text {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.4rem;
}

.story-email-link {
  color: #a2a2a2;
  font-size: 1.4rem;
}

.story-email-link:hover {
  text-decoration: none;
  color: #e6e4e0;
}

.story-img {
  grid-column-start: 4;
  margin-top: 12rem;
  max-height: 440px;
}

/* ----------Media Queries--------- */

@media only screen and (max-width: 1600px) {
  .chili {
    left: 8rem;
  }
}

@media only screen and (max-width: 1029px) {
  .story-container {
    grid-template-columns: repeat(6, 1fr);
  }

  .chili {
    height: 8rem;
    left: 27rem;
    top: 27rem;
  }

  .splat {
    right: 1rem;
    top: 8rem;
    height: 28rem;
  }

  .news-card-container {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    align-items: center;
    grid-gap: 1rem;
  }

  .card {
    margin-bottom: 1.5rem;
    width: 50%;
  }

  .card-img-top {
    height: 300px;
  }
}

@media only screen and (max-width: 768px) {
  .bottle {
    height: 26rem;
  }
  .story-container,
  .story-page-container {
    grid-template-columns: repeat(1, 1fr);
    padding: 3.5rem 0 4rem;
  }

  .chili {
    left: 10rem;
    height: 8rem;
    top: 30rem;
  }

  .splat {
    height: 20rem;
    right: 5rem;
  }

  .story-title {
    display: none;
  }

  .hidden-story-title {
    display: block;
    font-size: 3.2rem;
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
    font-family: "Rock Salt", sans-serif;
    z-index: 5;
    padding-bottom: 3rem;
    /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5),
      0px -4px 6px rgba(255, 255, 255, 0.3); */
  }

  .story-page-title {
    text-align: center;
    font-size: 3.2rem;
    padding-bottom: 3rem;
    line-height: 1.6;
  }
  .story-text {
    grid-row-start: 3;

    line-height: 1.7rem;
  }

  .story-page-text {
    grid-row-start: 1;
    line-height: 1.7rem;
  }

  .plants-img {
    margin: 0.7rem auto;
    height: 340px;
    width: 300px;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 4;
  }

  .story-img {
    grid-column-start: 1;
    grid-row-start: 6;
  }

  .card {
    width: 60%;
  }
}

@media only screen and (max-width: 600px) {
  .banner {
    width: 9rem;
    height: 7rem;

    padding: 0.6rem 0;
    filter: saturate(120%);
  }

  .nav-header__p {
    font-size: 0.9rem;
  }

  .pearson,
  .arson {
    letter-spacing: 0.13rem;
    font-size: 0.8rem;
  }

  .top-nav a {
    font-size: 0.9rem;
  }

  .header-filter {
    backdrop-filter: blur(2px);
  }

  .header-div {
    padding-top: 7rem;
  }

  .bottle {
    height: 20rem;
  }

  .story-container {
    grid-template-columns: repeat(1, 1fr);
    padding: 7rem 1rem;
  }

  .story-page-container {
    grid-template-columns: repeat(1, 1fr);
    padding: 3rem 1.9rem;
  }

  .chili {
    top: 44rem;
    left: 22rem;
    height: 3.6rem;
  }

  .splat {
    height: 13rem;
    left: 0;
    top: 8rem;
  }

  .hidden-story-title {
    font-size: 2.7rem;
  }

  .story-page-title {
    
    padding: 2rem 0 4rem;
  }

  .story-text,
  .story-page-text {
    display: flex;
    flex-direction: column;

    line-height: 1.65;
  }

  .story-text p,
  .story-text a {
    padding-left: 1.9rem;
  }

  .plants-img {
    margin: 0.7rem auto;
    height: 290px;
    width: 280px;
    border-radius: 8%;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 4;
  }

  .story-img {
    grid-row-start: 4;
    grid-row-end: 5;
  }

  .story-btn {
    width: 100%;
    font-size: 1.2rem;
  }

  .news-container {
    padding: 0 0.5rem;
  }

  .news-title {
    font-size: 2.9rem;
    padding: 2rem 0 0;
  }

  .news-card-container {
    grid-gap: 0;
  }

  .card {
    width: 100%;
  }

  .card-img-top {
    height: 200px;
  }

  footer {
    padding: 2rem 1rem;
  }

  .footer-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .footer-nav-container {
    padding: 0 0 0 0.9rem;
  }

  .footer-nav {
    flex-direction: row;
    margin-top: 0;
    width: 100%;
  }

  .footer-nav a {
    font-size: 0.9rem;
  }

  .contact {
    justify-self: start;
  }

  .facebook-icon {
    justify-self: end;
  }

  .form-text {
    width: 100%;
    padding-top: 2rem;
    font-size: 1.1rem;
  }

  .recipe-page-card-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .recipe-page-card-container .card {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .recipe-card-category {
    margin-bottom: 0.3rem;
    font-size: 0.9rem;
  }
  .recipe-date {
    font-size: 0.9rem;
  }
}
