* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  background: #000;
  overflow-x: hidden;
}

.wrapper {
  font-family: "Oswald", sans-serif;
  width: 100vw;
}

.banner {
  width: 13rem;
  height: 11rem;

  padding: 1rem 0;
  filter: saturate(120%);
}

.nav-header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #faf8f0;
  background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23020202' fill-opacity='0.06'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  position: relative;
  width: 100vw;
  border-top: 10px solid #bb3441;
}

.nav-header__p {
  color: #272727;
  text-shadow: 0 1px 1px rgba(20, 20, 18, 0.39);
  padding-bottom: 1rem;
  font-size: 1.24rem;
  word-spacing: 0.1rem;
}

.pearson,
.arson {
  color: #b3171d;
  font-family: "Rock Salt";
  letter-spacing: 0.2rem;
  font-weight: bold;
  font-size: 1rem;
}

.nav,
.navbar {
  padding: 1rem;
  text-transform: uppercase;
  width: 100%;
}

.top-nav {
  background: #272727;

  box-shadow: 0 2px 8px rgba(27, 27, 27, 0.3);
  /* display: inline-flex;
  justify-content: center; */
}

.top-nav a {
  font-size: 1.1rem;
  margin-right: 3rem;
  color: #ce1c22;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  font-family: "Oswald", sans-serif;
  letter-spacing: 0.04rem;
}

.nav-link:hover {
  color: #da7871;
}

.bottle {
  height: 48rem;
  display: block;

  z-index: 4;
  width: 100%;

  animation: imageLoad 3s linear;
}

.header-div {
  padding: 10rem 0 0;
  z-index: -2;
  background: url("https://images.unsplash.com/photo-1529753253655-470be9a42781?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80");
  background-size: cover;
  background-position: 80% 70%;

  height: 100%;
  position: relative;
}

.header-filter {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  backdrop-filter: saturate(110%) blur(3px);
  background-color: rgba(7, 7, 7, 0.138);
}

.header-title {
  position: absolute;
  top: 3rem;
  height: 20rem;
  left: 28%;
  animation: arsonLogoLoad 4s forwards;
}

.story-container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: minmax(100px, auto);

  color: #272727;
  background-image: radial-gradient(circle, #faf8f0 50%, #f7f1e0e7 50%);

  box-shadow: inset 0 18px 15px -20px rgba(0, 0, 0, 0.8);

  padding: 9rem 0 8rem;
  height: auto;
}

.chili {
  position: absolute;
  z-index: 1;
  top: 14rem;
  left: 56rem;
  opacity: 0.9;
  height: 13rem;
}

.splat {
  position: absolute;
  z-index: 1;
  top: 7rem;
  right: 14rem;
  opacity: 0.9;
  height: 37rem;
}

.hidden-story-title {
  display: none;
}

.story-title {
  z-index: 5;
  padding: 1rem 0 3rem;
  font-family: "Rock Salt", cursive;
  font-size: 3.9rem;
  letter-spacing: 0.25rem;
  /* align-self: start; */
  color: #272727;
  text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.5),
    0px -4px 6px rgba(255, 255, 255, 0.3);
}

.story-text {
  z-index: 5;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
  line-height: 1.9rem;
  letter-spacing: 0.07rem;
  font-size: 1.3rem;
  padding: 2rem;
}

.story-btn {
  background: #bb3441;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.story-btn:hover {
  text-decoration: none;
  color: #fff;
  background: #b3171d;
}

.plants-img {
  z-index: 5;
  max-height: 420px;
  border-radius: 20%;

  box-shadow: 0 3.4px 2.8px rgba(0, 0, 0, 0.02),
    0 8.2px 6.7px rgba(0, 0, 0, 0.028), 0 15.5px 12.5px rgba(0, 0, 0, 0.035),
    0 27.7px 22.3px rgba(0, 0, 0, 0.042), 0 51.8px 41.8px rgba(0, 0, 0, 0.05),
    0 124px 100px rgba(0, 0, 0, 0.07);

  margin-left: 2.5rem;
  margin-top: 4rem;
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 1;
}

.news-container {
  z-index: 5;
  color: #272727;
  background: linear-gradient(
      rgba(179, 23, 28, 0.286),
      rgba(179, 23, 28, 0.286)
    ),
    url("img/bricks.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* background-blend-mode: luminosity; */
  padding: 3rem 3rem 2.9rem;

  position: relative;
}

/* -----SVG divider----- */
/* .custom-shape-divider-top-1592265075 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1592265075 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 19px;
}

.custom-shape-divider-top-1592265075 .shape-fill {
  fill: #f8f2e3;
} */

.news-title {
  text-align: center;
  padding: 4rem 0;
  font-family: "Rock Salt", cursive;
  font-size: 4rem;
  font-weight: bold;
  letter-spacing: 0.25rem;
  color: #f7f4eb;

  text-shadow: 2px 7px 4px rgba(0, 0, 0, 0.5),
    0px -4px 6px rgba(255, 255, 255, 0.3);
}

.news-card-container {
  height: auto;

  padding-bottom: 4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}

.card {
  background: #fff;
  box-shadow: 0 2.8px 1.9px rgba(0, 0, 0, 0.028),
    0 6.7px 4.5px rgba(0, 0, 0, 0.04), 0 12.5px 8.5px rgba(0, 0, 0, 0.05),
    0 22.3px 15.2px rgba(0, 0, 0, 0.06), 0 41.8px 28.4px rgba(0, 0, 0, 0.072),
    0 100px 68px rgba(0, 0, 0, 0.1);

  backface-visibility: hidden;

  /* Add height to cards in recipe section, then you can put text underneath them */
  /* height: 250px; */
}

.card:hover {
  transform: translateY(-2.5px);
  cursor: pointer;
}

.card-title {
  color: #131212;
  font-size: 1.4rem;
  text-shadow: 0 1px 2px rgba(179, 177, 177, 0.2);
}

.card-img-top {
  width: 100%;
  height: 200px;
  filter: contrast(110%) saturate(120%);
}

.card-text {
  color: #272727;
}

.fa-link,
.fa-thumbs-up {
  color: #6c757d;
}

.fa-link:hover,
.fa-thumbs-up:hover {
  color: #ce1c22;
}
.fa-link:active,
.fa-thumbs-up:active {
  color: #6c757d;
}

.copy-msg {
  display: none;
  position: absolute;
  bottom: -1rem;
  right: 12rem;
  color: #b3171d;
  font-size: 1.2rem;
  opacity: 0.7;
}

footer {
  background-color: #1c1c1c;
  background: linear-gradient(
      to bottom,
      rgba(36, 36, 36, 0.8),
      rgba(36, 36, 36, 0.8)
    ),
    url("img/flameFinal.jpg");
  background-repeat: no-repeat;
  background-position: center;

  width: 100vw;
  padding: 4rem 1rem;
}

.footer-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.footer-nav {
  width: 25%;

  display: flex;
  flex-direction: column;
}

.form-text {
  color: #fff;
  margin: 0 auto 2rem;
  text-align: center;
  width: 80%;
  font-family: "Rock Salt", cursive;
  font-size: 1.4rem;
  font-weight: bold;
  z-index: 5;
  letter-spacing: 0.2rem;
  line-height: 1.5;
}

.emailBtn {
  background: #bb3441;
  color: #fff;
}

.emailBtn:hover {
  background: #b3171d;
  color: #fff;
}

.clicked {
  color: #fff;
  text-align: center;
  animation: spin 2s 0.25s linear infinite;
  margin-left: 50%;
  outline: none;
  outline: 0;
}

.msg-sent {
  padding: 6rem;
}

/* -------Animations------- */

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes imageLoad {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* ----------Recipe Page---------- */

.recipe-page-title {
  text-align: center;
  padding: 4rem 0;
  font-family: "Rock Salt", cursive;
  font-size: 4rem;
  font-weight: bold;
  letter-spacing: 0.25rem;
  color: #272727;

  text-shadow: 2px 5px 4px rgba(0, 0, 0, 0.5),
    0px -4px 6px rgba(255, 255, 255, 0.3);
}

.recipe-page-card-container {
  height: auto;

  padding-bottom: 2rem;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 1rem;
}

.recipe-page-card-container .card {
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.028), 0 7px 8px rgba(0, 0, 0, 0.04),
    0 14px 12px rgba(0, 0, 0, 0.05);
}

.recipe-page-card-image {
  filter: contrast(110%) saturate(120%);
}

/* .recipe-page-card-body {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.card-img-right {
  width: 180px;
  height: 240px;
} */

/* ----------Media Queries--------- */

@media only screen and (max-width: 1600px) {
  .chili {
    left: 8rem;
  }
}

@media only screen and (max-width: 1029px) {
  .story-container {
    grid-template-columns: repeat(6, 1fr);
  }

  .chili {
    height: 8rem;
    left: 27rem;
    top: 27rem;
  }

  .splat {
    right: 1rem;
    top: 8rem;
    height: 28rem;
  }
  /* 
  .news-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  } */

  .news-card-container {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    align-items: center;
    grid-gap: 1rem;
  }

  .card {
    margin-bottom: 1.5rem;
    width: 50%;
  }

  .card-img-top {
    height: 300px;
  }
}

@media only screen and (max-width: 768px) {
  .bottle {
    height: 26rem;
  }
  .story-container {
    grid-template-columns: repeat(1, 1fr);
    padding: 3.5rem 0 4rem;
  }

  .chili {
    left: 10rem;
    height: 8rem;
    top: 30rem;
  }

  .splat {
    height: 20rem;
    right: 5rem;
  }

  .story-title {
    display: none;
  }

  .hidden-story-title {
    display: block;
    font-size: 3.2rem;
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
    font-family: "Rock Salt", sans-serif;
    z-index: 5;
    padding-bottom: 3rem;
    /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5),
      0px -4px 6px rgba(255, 255, 255, 0.3); */
  }

  .story-text {
    grid-row-start: 3;

    line-height: 1.7rem;
  }

  .plants-img {
    margin: 0.7rem auto;
    height: 340px;
    width: 300px;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 4;
  }

  .card {
    width: 60%;
  }
}

@media only screen and (max-width: 600px) {
  .banner {
    width: 11rem;
    height: 9rem;

    padding: 1rem 0;
    filter: saturate(120%);
  }

  .nav-header__p {
    font-size: 1rem;
  }

  .pearson,
  .arson {
    letter-spacing: 0.13rem;
    font-size: 0.9rem;
  }

  .header-div {
    padding-top: 11rem;
  }

  .bottle {
    height: 20rem;
  }

  .story-container {
    grid-template-columns: repeat(1, 1fr);
    padding: 5rem 1.4rem;
  }

  .chili {
    top: 43rem;
    left: 21rem;
    height: 5rem;
  }

  .splat {
    height: 13rem;
    left: 0;
    top: 8rem;
  }

  .story-text {
    /* grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 5; */

    display: flex;
    flex-direction: column;

    line-height: 1.8;
  }

  .plants-img {
    margin: 0.7rem auto;
    height: 280px;
    width: 280px;
    border-radius: 10%;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 4;
  }

  .story-btn {
    width: 100%;
  }

  .news-container {
    padding: 3rem 1rem 3rem;
  }

  .news-title {
    font-size: 3.5rem;
  }

  .news-card-container {
    grid-gap: 0;
  }

  .card {
    width: 100%;
  }

  .card-img-top {
    height: 200px;
  }

  footer {
    padding: 2rem 1rem;
  }

  .footer-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .footer-nav {
    flex-direction: row;
    margin-top: 0;
    width: 100%;
  }

  .footer-nav a {
    font-size: 0.8rem;
  }

  .contact {
    justify-self: start;
  }

  .facebook-icon {
    justify-self: end;
  }

  .form-text {
    width: 100%;
    padding-top: 2rem;
    font-size: 1.1rem;
  }

  .recipe-page-card-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .recipe-page-card-container .card {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
