<!-- TODO: If end up using error template other than jwt error, need to pass auth object from errorHandlers -->

<%- include("../partials/header", {auth: false}) -%>

<div class="container msg-sent mt-1 text-center">
  <div class="container mt-1">
    <h4 class="text-center">
      <% if (code === "credentials_required") { %> Authorization required to
      access this page. <% } %>
    </h4>
    <a href="/" class="btn btn-danger mt-3">Home</a>
  </div>
</div>
